<div{{ attributes }}>
  {{ title_suffix }}
  ...
</div>
<div class="jumbotron jumbotron-fluid ewb" style="background-image: url({{ file_url(content.field_background_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        {{ title_prefix }}
        {% if label %}
          <h2{{ title_attributes.addClass('display-4') }}>{{ label }}</h2>
        {% endif %}

        <div class="lead">{{ content.body }}</div>
        {% if content.field_button[0]['#title'] %}
        <div class="call-to-action d-flex justify-content-center"><a href="{{ content.field_button[0]['#url'] }}" class="btn btn-primary">{{ content.field_button[0]['#title'] }}</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="caption">{{ content.field_caption }}</div>
<div class="credit">{{ content.field_credit }}</div>